<html xmlns:th="http://www.thymeleaf.org">
<body>

<div th:fragment="menuContainer(menuItems)">
    <div class="container-fluid navbar navbar-inverse navbar-collapse collapse navbar-fixed-left left-menu">
        <ul th:include="main/left-menu :: menuTree(${menuItems})" class="nav navbar-nav"/>
    </div>
</div>

<ul th:fragment="menuTree(menuItems)" class="nav navbar-nav" >
    <div th:unless="${#lists.isEmpty(menuItems)}" th:each="item : ${menuItems}" th:remove="tag">
        <div th:replace="main/left-menu :: menuLeaf(${item})"/>
        <div th:unless="${item.leaf}" th:remove="tag">
            <div th:replace="main/left-menu :: menuTree(${item.subItems})"/>
        </div>
    </div>
</ul>

<li th:fragment="menuLeaf(item)" th:object="${item}">
    <a th:href="*{link}" th:text="*{nameOfItem}"/>
</li>

</body>
</html>